<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANASAYFA</title>
</head>
<body id="page-top">

 <div style="text-align: center; margin-top:initial; " >
    <img src="../../img/emptyLogo.png" style="width: 150px; height:150px;">
</div>
  
</body>
</html>