<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kullanıcı Giriş </title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
<link href ="/portRegistrationModel.js" >
</head>
<body>
   <div>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <div class="container">

          <!-- Outer Row -->
          <div class="row justify-content-center">
      
            <div class="col-xl-7 col-lg-8 col-md-5">
      
              <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body">  
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                   
                    <div class="col-lg-12">
                      <div class="p-5">
                        <div id="content">

                         <div style="text-align: center" >
                           <img src="../../img/emptyLogo.png" style="width: 150px; height:150px;">
                         </div>
                        <div>
                          <h1 class="h4 text-gray-500 mb-4" style="text-align: center;">Kullanıcı Giriş </h1>
                        </div>
                          <form  method="post">
                            <div class="container">
                              <label for="mail"><b>Email</b></label>
                              <input type="text" placeholder="Mailinizi Giriniz" name="mail" class="form-control form-control-user"  required>

                              <label for="psw"><b>Şifre</b></label>
                              <input type="password" placeholder="Şifrenizi Giriniz" name="psw" class="form-control form-control-user"  required>
                              <div class="form-group">
                          
                              </div>

                              <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>

                            </div>  

                        </form>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
      
          </div>
      
        </div>
      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
</body>
</html>